# Python cache

**pycache**/
*.py[cod]

# Virtual environments

.venv/
venv/
env/

# VS Code temp files

.vscode/
tempCodeRunnerFile.py

# Output/generated images

output/
Output/

# OS junk

.DS_Store
Thumbs.db

# Build/dist

build/
dist/

# Environment variables

.env
